{% extends 'core/base.html' %}
{% load static %}

{% block title %}Histórico de Predições{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-semibold text-dark mb-0">
            <i class="bi bi-list-check me-2"></i> Histórico de Predições
        </h2>

        <a href="{% url 'criar_predicao' %}" class="btn btn-dark">
            <i class="bi bi-plus-circle me-1"></i> Nova Predição
        </a>
    </div>

    {% if predicoes %}
    <div class="table-responsive shadow-sm rounded-3 mt-5">
        <table class="table table-hover align-middle mb-0">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Compacidade</th>
                    <th scope="col">Altura</th>
                    <th scope="col">Aquecimento</th>
                    <th scope="col">Resfriamento</th>
                    <th style="width: 150px;" class="text-center">Ações</th>
                </tr>
            </thead>

            <tbody>
                {% for predicao in predicoes %}
                <tr>
                    <td>{{ predicao.id }}</td>
                    <td>{{ predicao.compacidade_relativa }}</td>
                    <td>{{ predicao.altura_total }}</td>
                    <td>{{ predicao.carga_aquecimento|floatformat:2 }}</td>
                    <td>{{ predicao.carga_resfriamento|floatformat:2 }}</td>

                    <td class="text-center">
                        <form method="post" action="{% url 'excluir_predicao' predicao.id %}">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-outline-danger">
                                <i class="bi bi-trash">Excluir</i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

    {% else %}
    <div class="alert alert-secondary text-center" role="alert">
        Nenhuma predição realizada até o momento.
    </div>
    {% endif %}

</div>
{% endblock %}
